html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none; color: inherit; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { -webkit-appearance: none; appearance: none; }

body {
    background-color: #f2f2f5;
}

* {
    box-sizing: border-box;
}

/* 按钮样式 */
button {
    padding: 10px 15px; /* 设置内边距 */
    background-color: #4CAF50; /* 设置背景颜色 */
    color: white; /* 设置文字颜色 */
    border: none; /* 移除边框 */
    border-radius: 5px; /* 设置边框圆角 */
    cursor: pointer; /* 添加指针样式 */
    transition: background-color 0.3s ease; /* 添加过渡效果 */
}
